[submodule "mods/default"]
	path = mods/default
	url = https://github.com/minetest-game/default
[submodule "mods/flowers"]
	path = mods/flowers
	url = https://github.com/minetest-game/flowers
[submodule "mods/doors"]
	path = mods/doors
	url = https://github.com/minetest-game/doors
[submodule "mods/player_api"]
	path = mods/player_api
	url = https://github.com/minetest-game/player_api
[submodule "mods/screwdriver"]
	path = mods/screwdriver
	url = https://github.com/minetest-game/screwdriver
[submodule "mods/creative"]
	path = mods/creative
	url = https://github.com/minetest-game/creative
[submodule "mods/dye"]
	path = mods/dye
	url = https://github.com/minetest-game/dye
[submodule "mods/sfinv"]
	path = mods/sfinv
	url = https://github.com/minetest-game/sfinv
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks.git
[submodule "mods/scifi_nodes"]
	path = mods/scifi_nodes
	url = https://github.com/D00Med/scifi_nodes.git
[submodule "mods/display_modpack"]
	path = mods/display_modpack
	url = https://github.com/pyrollo/display_modpack
[submodule "mods/font_botic"]
	path = mods/font_botic
	url = https://github.com/pyrollo/font_botic
[submodule "mods/glass_stained"]
	path = mods/glass_stained
	url = https://github.com/v-rob/glass_stained
[submodule "mods/xpanes"]
	path = mods/xpanes
	url = https://github.com/minetest-game/xpanes
[submodule "mods/framedglass"]
	path = mods/framedglass
	url = https://github.com/minetest-mods/framedglass
[submodule "mods/factory_bridges"]
	path = mods/factory_bridges
	url = https://github.com/pandorabox-io/factory_bridges
[submodule "mods/unifieddyes"]
	path = mods/unifieddyes
	url = https://gitlab.com/VanessaE/unifieddyes/
[submodule "mods/basic_materials"]
	path = mods/basic_materials
	url = https://gitlab.com/VanessaE/basic_materials
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/minetest-mods/mesecons
[submodule "mods/letters"]
	path = mods/letters
	url = https://github.com/minetest-mods/letters
[submodule "mods/i3"]
	path = mods/i3
	url = https://github.com/minetest-mods/i3/
